#start-nav-img{
    height: 30px;
    width: 30px;
}
#start-nav-links a{
    text-decoration: none;
    font-weight: 600;
}
.active{
    border-bottom: 2px solid black;
    color: black;
}
.end-nav ul li{
    cursor: pointer;
}
.img-left img{
    height: 40px;
    width: 40px;
}
